<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="addition" class="com.example.springconstructor.Addition">
        <constructor-arg value="30"/>
        <constructor-arg value="5"/>
    </bean>

    <bean id="subtraction" class="com.example.springconstructor.Subtraction">
        <constructor-arg value="40"/>
        <constructor-arg value="9"/>
    </bean>

</beans>
